
.contact {
  
  padding: 9rem 0;
  
  & .container {
    max-width: 111rem;
    margin: 0 auto;
    display: flex;
  }

  & .content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > p {
      margin: 2.4rem 0 4rem 0;
      font-size: 1.4rem;
    }
  }
  & .contactForm { 
    display: flex;
    flex-direction: column;
    & .nameInputs {
      display: flex;
      justify-content: space-between;
    }
    & .btn {
      max-width: 16rem;
      background-color: #ED4C5C;
      border-radius: 6px;
      text-align: center;
      color: white;
      padding: 1.7rem 3.4rem;
      text-decoration: none;
      font-size: 1.4rem;
    }
  }
}